.ResetPassword__subHeader {
  line-height: 1.67;
  text-align: center;
  color: var(--color-text-gray);
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.ResetPassword__backButton {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  display: block;
  color: var(--color-primary);
}
