.FormBox {
  width: 585px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  display: block;
  margin: auto;
  padding: 40px 70px;
}

.FormBox h1 {
  text-align: center;
}

.formbox h1 .titleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
